#divButton {
    margin: 100px auto;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#button1 {
    color:white;
}

#discuss {
    display: hidden;
}

#commentArea1 {
    margin: 10px auto;
    max-width: 660px;
}

.commentDivs{
    margin-bottom: 16px;
}

.commentClass1 {
    margin: 10px auto;
    max-width: 660px;
}